* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #111;
    overflow: hidden;
    font-family: 'Quantico', Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.wrapper {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 0;
}

/* Text */

h1 {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	color:#d7df23;
}

h2 {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	color:#d7df23;
	font-size: 2em;
}

p {
    
    text-shadow: 1px 1px 1px #000;
	font-size:1.4em;
}

.txtintro { font-size:1.1em; text-align: justify;}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #D7DF23;
}

h1 a,
h1 a:hover,
h1 a:visited {
    text-decoration: none;
}

p a {
    font-weight: 700;
}


#menu{
			text-align:center;
            width:800px;
            margin:auto;
            height:100%}



/* Header */

header {
 background-image: url("../img/fond.png");

    background-repeat: no-repeat;

    color: #FFFFFF;

    height: 610px;

margin-top:3%;

   /* left: 30%;*/

  /*  margin: 30px 0 0 -200px;

    padding: 200px 50px 10px;*/

            position: absolute;

    text-align: center;

    width: 800px;

    z-index: 999;


}

header h1 {
  
    padding: 0 0 0px 0;
    font-size: 4em;

}

header h1 span {
    font-weight: 0;
}

header p {
   padding-top:200px;

            padding-left:30px;

            padding-right:30px;

    font-family: 'Quantico', Arial, sans-serif;

    
}

/* Video Pages */

.screen {
    position: relative;
    height: 100%;
    width: 20%; /*  NOTE: numVideos/100%  */;
    float: left;
    overflow: hidden;
}

.big-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.video-title {
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: .5;
    margin: 40px 0 0 0;
    padding: 0;
    line-height: .65;
    font-size: 4em;
    text-transform: uppercase;
}

/* Nav */

nav {
    /*position: absolute;
    right: 5%;
    top: 45%;
    padding: 20px;
    background: #000;
    border-radius: 40px;
    opacity: .4;
    cursor: pointer;
    z-index: 1000;*/
}

nav:hover {
    opacity: .6;
}

.next-icon {
   /* display: block;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 20px;
    height: 20px;
    position: relative;
    left: -5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    text-decoration: none;*/
}

/* Codrops Header Style */
.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
    text-decoration: none;
}
.codrops-top a:hover {
    background: rgba(255,255,255,0.4);
}
.codrops-top span.right{
    float: right;
}
.codrops-top span.right a{
    float: left;
    display: block;
}
/* End Codrops Header Style */